```
# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Documentation builds
docs/_build/
docs/build/

# Logs
*.log

# Environment
.env
.env.local
*.env.*

# Editor/IDE
.vscode/
.idea/
*.swp
*.swo
*.tmp

# Dependencies
.venv/
venv/
.env/
node_modules/

# Coverage
.coverage
coverage/
htmlcov/

# Distribution / packaging
dist/
build/
*.egg-info/

# MyPy
.mypy_cache/

# Pytest
.pytest_cache/
```